@mixin blue_btn {
    background-color: $color_dark_blue;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    img {
        width: 15px;
    }
}

@mixin white_btn {
    color: $color_blue;
    background-color: white;
    border: 1px solid $color_blue;
    border-radius: 10px;
    padding: 5px;
    img {
        width: 15px;
    }
}

i,
.learn_more {
    color: $color_electric_violet;
}